/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

cleanup = true
process {
    executor = 'slurm'
    stageInMode  = 'symlink'
}

/*
---------------------------------------------------------
PARAMS 
---------------------------------------------------------
*/

params {
    input         = null
    genome        = null
    gtf           = null
    outdir        = "results"

    data_type     = "pacbio_ccs"
    min_reads     = 5

    provided_db = null
}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config' // default 
includeConfig 'conf/modules.config' // default 

profiles {
    cluster {
        process.executor = 'slurm'
        process.clusterOptions = "-A gvo00082" 
    }
    
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
    }
}

// Container configurations
apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_cache"
}


env {
    // Forces Apptainer to use the TB-scale scratch drive for temporary layer extraction
    // instead of the Head Node's RAM-backed /tmp drive.
    APPTAINER_CACHEDIR = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_cache"
    APPTAINER_TMPDIR   = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_tmp"
}

// Function to ensure resource requirements don't go beyond cluster limits
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            def maxMem = params.max_memory as nextflow.util.MemoryUnit
            return obj > maxMem ? maxMem : obj
        } catch (all) {
            println "### ERROR ### Max memory '${params.max_memory}' invalid, using $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            def maxTime = params.max_time as nextflow.util.Duration
            return obj > maxTime ? maxTime : obj
        } catch (all) {
            println "### ERROR ### Max time '${params.max_time}' invalid, using $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min(obj, params.max_cpus as int)
        } catch (all) {
            println "### ERROR ### Max cpus '${params.max_cpus}' invalid, using $obj"
            return obj
        }
    }
}

// Reporting Configuration
trace {
    enabled = true
    file    = 'trace.txt'
    overwrite = true
}
report {
    enabled = true
    file    = 'report.html'
    overwrite = true
}
timeline {
    enabled = true
    file    = 'timeline.html'
    overwrite = true
}
dag {
  enabled = true
  file = 'dag.png'
  overwrite = true
}