/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UGent HPC Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    // -------------------------------------------------
    // 1. GLOBAL DEFAULTS 
    // -------------------------------------------------
    cleanup = true 

    executor = 'slurm'
    clusterOptions = "-A gvo00082" 

    // Safe small-job defaults
    cpus   = { 4 * task.attempt }
    memory = { check_max( 12.GB  * task.attempt, 'memory' ) }
    time   = { check_max( 4.h   * task.attempt, 'time' ) }

    errorStrategy = 'retry'
    maxRetries    = 2
    maxErrors     = -1

    // -------------------------------------------------
    // 2. RESOURCE LABELS (CPU + MEMORY COUPLED)
    // -------------------------------------------------

    withLabel:process_single {
        cpus   = { 4 * task.attempt }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h  * task.attempt, 'time' ) }
    }

    withLabel:process_low {
        cpus   = { 12 * task.attempt }
        memory = { check_max( 24.GB * task.attempt, 'memory' ) }
        time   = { check_max( 6.h  * task.attempt, 'time' ) }
    }

    withLabel:process_medium {
        cpus   = { 16 * task.attempt }
        memory = { check_max( 48.GB * task.attempt, 'memory' ) }
        time   = { check_max( 10.h * task.attempt, 'time' ) }
    }

    withLabel:process_high {
        cpus   = { 24 * task.attempt }
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
        time   = { check_max( 16.h * task.attempt, 'time' ) }
    }

    withLabel:process_long {
        time   = { check_max( 24.h * task.attempt, 'time' ) }
    }

    // Heavy but safe for Doduo (node cap ~250 GB)
    withLabel:process_high_memory {
        cpus   = { 64 * task.attempt }
        memory = { check_max( 200.GB, 'memory' ) }
        time   = { check_max( 24.h, 'time' ) }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    // -------------------------------------------------
    // 3. TOOL-SPECIFIC OPTIMIZATION
    // -------------------------------------------------
    
    
    withName: 'LONGREAD_RNA:FASTQC' {
        cpus          = { 8 * task.attempt }
        memory        = { check_max( 20.GB * task.attempt, 'memory' ) }
        time          = { check_max( 24.h, 'time' ) }
    }


    withName: 'LONGREAD_RNA:FLEXIPLEX_DISCOVER' {
        cpus          = { 12 * task.attempt }
        memory        = { check_max( 30.GB * task.attempt, 'memory' ) }
        time          = { check_max( 48.h, 'time' ) } // Give it 48 hours for a 118GB file
    }
    withName: 'LONGREAD_RNA:FLEXIPLEX_DEMUX' {
        cpus          = { 12 * task.attempt }
        memory        = { check_max( 30.GB * task.attempt, 'memory' ) }
        time          = { check_max( 48.h, 'time' ) }
        maxForks      = 12
        scratch       = true
        maxRetries    = 1
        errorStrategy = 'retry'
    }

    withName: TAG_BAM {
        maxForks = 4 
    }

    withName: 'LONGREAD_RNA:MINIMAP2' {
        cpus          = { 16 * task.attempt }
        memory        = { check_max( 40.GB * task.attempt, 'memory' ) }
        time          = { check_max( 24.h, 'time' ) }
        maxForks      = 12
        scratch       = true
        maxRetries    = 2
        errorStrategy = 'retry'
    }

    withName: '.*SQANTI3_FILTER.*' {
        cpus          = { 16 * task.attempt }
        memory        = { check_max( 40.GB * task.attempt, 'memory' ) }
        time          = { check_max( 24.h, 'time' ) }
        scratch       = true
        maxRetries    = 2
        errorStrategy = 'retry'
    }
    withName: 'LONGREAD_RNA:SQANTI3' {
        cpus          = { 24 * task.attempt }
        memory        = { check_max( 60.GB * task.attempt, 'memory' ) }
        time          = { check_max( 24.h, 'time' ) }
        scratch       = true
        maxRetries    = 2
        errorStrategy = 'retry'
    }

    withName: 'LONGREAD_RNA:ISOQUANT' {
        cpus          = { 24 * task.attempt }
        memory        = { 60.GB * task.cpus }
        time          = { check_max( 48.h, 'time' ) }
        scratch       = true
        maxRetries    = 1
        errorStrategy = 'retry'
    }
}