process {

    // Automization of where files will be saved
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'move',
        saveAs: { filename -> filename == 'versions.yml' ? null : filename }, // Filter: do not save versions.yml
        cleanup: true
    ]

    // Disable publishing for selected processes
    withName: /CLEAN_GENOME|FASTPLONG|MINIMAP2|SPLIT_BAM_BY_CHR|TRANSCRIPT_CLEAN|TALON_INIT|TALON_RUN|SALMON_INDEX/ {
        publishDir = [ enabled: false ]
    }


    withName: FASTQC {
        container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
    }

    withName: FASTPLONG {
        container = 'https://depot.galaxyproject.org/singularity/fastplong:0.2.2--heae3180_0'
    }

    withName: MINIMAP2 {
        container = 'https://depot.galaxyproject.org/singularity/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:3161f532a5ea6f1dec9be5667c9efc2afdac6104-0'
        ext.args = '-ax splice -uf --secondary=no -MD' // Corrected -md to -MD (Minimap2 standard)
    }

    withName: SPLIT_BAM_BY_CHR {
        container = 'https://depot.galaxyproject.org/singularity/samtools:1.21--h96c455f_1'
    }
    
    withName: SAMTOOLS_MERGE {
        container = 'https://depot.galaxyproject.org/singularity/samtools:1.21--h96c455f_1'
    }

    withName: TRANSCRIPT_CLEAN {
        container = 'docker://biocontainers/transcriptclean:v2.0.2_cv1'
    }

    withName: 'TALON.*' {
        container = 'docker://quay.io/biocontainers/talon:6.0.1--pyhdfd78af_0'
    }
    
     withName: 'SQANTI3' {
    container = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_cache/sqanti3_latest.sif"
    }

    withName: 'SALMON.*' {
        container = 'https://depot.galaxyproject.org/singularity/mulled-v2-fb4d08d60ecf9b9ad7391e52c2cefda3ec2d3078:9d3d100a9ec77bdf6d335afe1f4159a2ec23453b-0'
    }

    withName: MULTIQC {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.26--pyhdfd78af_0'
    }
}