/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UGent HPC  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {
    max_memory = 360.GB
    max_cpus   = 192
    max_time   = 72.h
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXECUTOR (SLURM)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

executor {
    name = 'slurm'
    pollInterval        = '1 min'
    queueStatInterval   = '5 min'
    exitReadTimeout     = '30 min'
    submitRateLimit     = '5 sec'
    queueSize           = 20      
}
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    APPTAINER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

apptainer {
    enabled    = true
    autoMounts = true

    cacheDir = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_cache"

    envWhitelist = 'APPTAINER_TMPDIR,APPTAINER_CACHEDIR'
}

env {
    APPTAINER_CACHEDIR = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_cache"
    APPTAINER_TMPDIR   = "${System.getenv('VSC_SCRATCH_VO_USER')}/apptainer_tmp"
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PROCESS DEFAULTS 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    scratch = true
    executor        = 'slurm'
    clusterOptions  = "-A gvo00082" 

    cpus   = 16
    memory = { 1.25.GB * task.cpus }
    time   = { 4.h }
    
    errorStrategy = { task.exitStatus in [137,140,143,125,104] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = -1

    withLabel:process_single {
        cpus = 2
        memory = 3.GB
        time = '2h'
    }
    withLabel:process_low {
        cpus = 6
        memory = 12.GB
        time = '6h'
    }
    withLabel:process_medium {
        cpus = 12
        memory = 18.GB
        time = '12h'
    }
    withLabel:process_high {
        cpus =  32                              
        memory = { 48.GB * task.attempt }        
        time = '50h'
    }
 
}