process {

    // Global publishDir for all processes
    publishDir = [
        path: { "${params.outdir}/${task.process.toLowerCase()}" },
        mode: 'move',
        saveAs: { filename -> filename == 'versions.yml' ? null : filename }
    ]

    // Disable publishDir for intermediate steps
    withName: 'FASTPLONG' {
        publishDir = [ enabled: false ]
    }

    // Containers
    withName: 'FASTPLONG' {
        container = 'https://depot.galaxyproject.org/singularity/fastplong:0.2.2--heae3180_0'
    }

    withName: 'MINIMAP2' {
        container = 'https://depot.galaxyproject.org/singularity/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:3161f532a5ea6f1dec9be5667c9efc2afdac6104-0'
        ext.args = '-ax splice -uf --secondary=no -MD'  // Corrected -md to -MD
    }
}
